{% extends 'base.html' %}
{% block title %}Index page{% endblock %}

{% block content %}
<div class="face-recognition">
    <div class="camera-section" style="position: relative; display: inline-block;">
        <video id="userCam" class="user-camera" autoplay playsinline></video>
        <!-- Canvas untuk menggambar bounding box -->
        <canvas id="overlay" style="position: absolute; top: 0; left: 0; pointer-events: none;"></canvas>
        <!-- Canvas untuk snapshot, tetap tersembunyi -->
        <canvas id="snapshot" style="display:none;"></canvas>
    </div>

    <div class="result-section">
        <h3 class="result-title">Recognition Result</h3>
        <ul id="result">
            <li>Waiting for recognition...</li>
        </ul>
    </div>

    <div class="add-user-section">
        <h3 class="add-user-title">Add User</h3>
        <form method="POST" action="{{ url_for('add_user') }}" class="add-user-form">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username" required>
            <label for="jenis-Kelamin">Jenis Kelamin:</label>
            <select name="jenis-Kelamin" id="jenis-Kelamin" required>
                <option value="" disabled selected class="option-disabled">Pilih jenis kelamin</option>
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
            </select>
            <label for="jurusan">Jurusan:</label>
            <input type="text" name="jurusan" placeholder="Jurusan" required>
            <input type="submit" value="Add">
        </form>
    </div>
</div>

<div class="database">
    <div class="database-heading">
        <h3>Database Users</h3>
        <div class="download-button">
            <!-- Search bar -->
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search user...">
            </div>
            <button onclick="window.location.href='/download_users_csv'">
                Download Csv
            </button>
            <button onclick="window.location.href='/download_users_excel'">
                Download Excel
            </button>
        </div>
    </div>
    <table border="1" id="user-table" style="width:100%; text-align:center;">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Jenis Kelamin</th>
                <th>Jurusan</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="user-body">
            <!-- Data akan diisi dengan JS -->
        </tbody>
    </table>
</div>
{% endblock %}